{% extends "layout.html" %}

{% block title %}
    TradeLab - Quote
{% endblock %}

{% block main %}
  <div class="text-margin">
    <h3>Current price of {{ info["name"] }} ({{ info["symbol"] }}) is {{ info["price"]|usd }}</h3>
  </div>
    <form action="/quote" method="post">
        <div class="form-group">
            <input class="form-control" type="text" name="symbol" placeholder="Search other (Eg. FB)">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Get Quote</button>
        </div>
    </form>
{% endblock %}
